@model UserAccount

<!-- Resume Section -->
<section id="resume" class="resume section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Resume</h2>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Sumary</h3>

        <div class="resume-item pb-0">
          <h4>@Model.SeekerProfile.FirstName @Model.SeekerProfile.LastName</h4>
          <p><em>This section provides a brief summary of the user's information. The user,
              @(Model?.SeekerProfile?.FirstName ?? "")
              @(Model?.SeekerProfile?.LastName ?? ""), is currently @(Model?.DateOfBirth != null ?
              (DateTime.Now.Year - Model.DateOfBirth.Year).ToString() : "") years old.</em></p>
          <ul>
            <li>Email: @(Model.Email ?? "")</li>
            <li>Phone: @(Model.ContactNumber ?? "")</li>
            <li>Date of birth: @(Model.DateOfBirth.ToString("dd-MM-yyyy") ?? "")</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <h3 class="resume-title">Education</h3>
        @foreach (EducationDetail item in @Model.EducationDetails)
        {
          <div class="resume-item">
            <h4>@(item.CertificateDegreeName ?? "")</h4>
            <h5>@(item.StartingDate.Year.ToString() ?? "") - @(item.CompletionDate.Year.ToString() ?? "")</h5>
            <p><em>@(item.InstituteUniversityName ?? "")</em></p>
            <p>Education is a fundamental aspect of personal and professional development. It provides individuals with
              the knowledge, skills, and critical thinking abilities necessary to navigate and succeed in an increasingly
              complex world. From early childhood education to higher education and beyond, the learning journey equips
              people with the tools to pursue their passions, contribute to society, and achieve their goals. A
              well-rounded education fosters creativity, innovation, and a lifelong love of learning, empowering
              individuals to adapt to changing circumstances and seize new opportunities. Whether through formal
              schooling, vocational training, or self-directed learning, education remains a cornerstone of personal
              growth and societal progress.</p>
          </div>
          <!-- Edn Resume Item -->
        }
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <h3 class="resume-title">Professional Experience</h3>
        @foreach (ExperienceDetail item in @Model.ExperienceDetails)
        {
          <div class="resume-item">
            <h4>@(item.JobTitle ?? "")</h4>
            <h5>@(item.StartDate.Year.ToString() ?? "") - @(item.EndDate.Year.ToString() ?? "")</h5>
            <p><em>@(item.JobLocationState ?? "") - @(item.JobLocationCountry ?? "") - @(item.JobLocationCity ?? "")</em>
            </p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication
                materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.
              </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design
              </li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>

          <!-- Edn Resume Item -->
        }

      </div>

    </div>

  </div>

</section><!-- /Resume Section -->