@model UserAccount
@using WebApp

<partial name="_Msg" />

@{
    if (Model.SeekerProfile == null)
    {
        Model.SeekerProfile = new SeekerProfile();
    }

    if (Model.EducationDetails == null || !Model.EducationDetails.Any())
    {
        Model.EducationDetails = new List<EducationDetail> { new EducationDetail() };
    }

    if (Model.ExperienceDetails == null || !Model.ExperienceDetails.Any())
    {
        Model.ExperienceDetails = new List<ExperienceDetail> { new ExperienceDetail() };
    }
}

<div asp-validation-summary="All"></div>
<form action="/useraccount/update" method="post" enctype="multipart/form-data">
    <section id="about" class="about section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    @if (string.IsNullOrEmpty(Model.UserImage))
                    {
                        <img src="/img/profile-img.jpg" class="img-fluid" alt="">
                    }
                    else
                    {
                        <input type="hidden" asp-for="@Model.UserImage">
                        <img src="/img/@Model.UserImage" class="img-fluid" alt="User Image">
                    }
                    <div>
                        <input class="form-control mt-2" type="file" name="f" accept="image/*">
                    </div>
                </div>
                <div class="col-lg-8 content">
                    <a class="fs-3" href="/useraccount">Infomation</a>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                    <input class="form-control" type="text" asp-for="Email" value="@Model.Email">
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Date Of Birth:</strong>
                                    <input id="test" class="form-control" type="date" asp-for="DateOfBirth"
                                        value="@Model.DateOfBirth.ToString("yyyy-MM-dd")">
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Gender:</strong>
                                    <select asp-for="Gender" class="form-select">
                                        <option value="true">Male</option>
                                        <option value="false">Female</option>
                                    </select>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                    <input class="form-control" type="text" asp-for="ContactNumber"
                                        value="@Model.ContactNumber">
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>First Name:</strong>
                                    <input class="form-control" type="text" asp-for="SeekerProfile.FirstName"
                                        value="@Model.SeekerProfile.FirstName">
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Last Name:</strong>
                                    <input class="form-control" type="text" asp-for="SeekerProfile.LastName"
                                        value="@Model.SeekerProfile.LastName">
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Current Salary:</strong>
                                    <input class="form-control" type="number" asp-for="SeekerProfile.CurrentSalary"
                                        value="@Model.SeekerProfile.CurrentSalary">
                                </li>
                            </ul>
                        </div>
                    </div>

                    <a class="fs-3" href="/useraccount/addeducationdetail">Education</a>
                    <p>
                        <a class="btn btn-outline-info btn-lg d-block w-50 mx-auto mb-3" data-bs-toggle="collapse"
                            href="#collapseEducation" role="button" aria-expanded="false"
                            aria-controls="collapseEducation">
                            <i class="bi bi-chevron-down"></i> Xem chi tiết
                        </a>
                    </p>
                    <div class="collapse" id="collapseEducation">
                        <div class="card card-body">
                            @for (int i = 0; i < Model.EducationDetails.Count; ++i)
                            {
                                <h5>Education @(i + 1) <i class="bi bi-trash"></i></h5>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                                                <input type="text" class="form-control"
                                                    asp-for="EducationDetails[i].CertificateDegreeName"
                                                    value="@Model.EducationDetails[i]?.CertificateDegreeName">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Start Date:</strong>
                                                <input type="date" class="form-control"
                                                    asp-for="EducationDetails[i].StartingDate"
                                                    value="@Model.EducationDetails[i]?.StartingDate.ToString("yyyy-MM-dd")">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Completion Date:</strong>
                                                <input type="date" class="form-control"
                                                    asp-for="EducationDetails[i].CompletionDate"
                                                    value="@Model.EducationDetails[i]?.CompletionDate.ToString("yyyy-MM-dd")">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Institute:</strong>
                                                <input type="text" class="form-control"
                                                    asp-for="EducationDetails[i].InstituteUniversityName"
                                                    value="@Model.EducationDetails[i]?.InstituteUniversityName">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Percentage:</strong>
                                                <input type="number" class="form-control"
                                                    asp-for="EducationDetails[i].Percentage"
                                                    value="@Model.EducationDetails[i]?.Percentage">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>CGPA:</strong>
                                                <input type="number" class="form-control" asp-for="EducationDetails[i].CGPA"
                                                    value="@Model.EducationDetails[i]?.CGPA">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>


                    <a class="fs-3" href="/useraccount/addexperiencedetail">Experience</a>
                    <p>
                        <a class="btn btn-outline-info btn-lg d-block w-50 mx-auto mb-3" data-bs-toggle="collapse"
                            href="#collapseExperience" role="button" aria-expanded="false"
                            aria-controls="collapseExperience">
                            <i class="bi bi-chevron-down"></i> Xem chi tiết
                        </a>
                    </p>
                    <div class="collapse" id="collapseExperience">
                        <div class="card card-body">
                            @for (int i = 0; i < Model.ExperienceDetails.Count; ++i)
                            {
                                <h5>Experience @(i + 1) <i class="bi bi-trash" value="@Model.ExperienceDetails[i]."></i>
                                </h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Job Title:</strong>
                                                <input type="text" class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].JobTitle"
                                                    value="@Model.ExperienceDetails[i]?.JobTitle">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Company Name:</strong>
                                                <input type="text" class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].CompanyName"
                                                    value="@Model.ExperienceDetails[i]?.CompanyName">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Start Date:</strong>
                                                <input type="date" class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].StartDate"
                                                    value="@Model.ExperienceDetails[i]?.StartDate.ToString("yyyy-MM-dd")">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li><i class="bi bi-chevron-right"></i> <strong>End Date:</strong>
                                                <input type="date" class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].EndDate"
                                                    value="@Model.ExperienceDetails[i]?.EndDate.ToString("yyyy-MM-dd")">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Location State:</strong>
                                                <input type="text" class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].JobLocationState"
                                                    value="@Model.ExperienceDetails[i]?.JobLocationState">
                                            </li>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Location Country:</strong>
                                                <input type="text" class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].JobLocationCountry"
                                                    value="@Model.ExperienceDetails[i]?.JobLocationCountry">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12">
                                        <ul>
                                            <li><i class="bi bi-chevron-right"></i> <strong>Description:</strong>
                                                <textarea class="form-control mb-2"
                                                    asp-for="ExperienceDetails[i].Description" rows="4"></textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <button class="btn btn-outline-info btn-lg d-block w-50 mx-auto mb-3">Update</button>
    </section>
</form>